/**
body{

 font-family: sans-serif;
 width: 100%;
 text-transform: uppercase;
 background: rgb(201, 176, 176);
 background-size: cover;
 padding-top: 200px;
}*/
form{
    background-color:green;
    max-width: 500px;
    padding: 4em 3em;
    border-radius: 15px;
    box-shadow: 0 5px 10 px -5px rgb(0, 0, 0 / 30%);
    color: white;
}


.divisor{
    border-top: 1px solid white;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}

#c{
    display: flex;
    justify-content: center;
}

#form_ingreso{
    background-color: white;
    font-family: helvetica;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;  
    padding: 5px;
    width: 100%; 
}